@import "h5bp";
@include h5bp-normalize;
@include h5bp-base-styles;
@include h5bp-chromeframe;

$col_1: #5A574A;
$col_2: #E6C680;
$col_3: #A89F84;
$col_4: #2A44A1; // facebook share

$col_text_dark: $col_1;

header {
	text-align: center;
}

body {
	text-align: left;
    width: 960px;
    margin: 0 auto;
    color: $col_1;
}

.hide_me {
    text-indent: 100%;
    overflow:hidden;
}

.dj_console {
    display: block;
    position: relative;
	width: 100%;
    height: 175px;
	clear: both;
    float: none;
    margin-top: -100px;

	& .playlist {
        width: 180px !important;
        height: 54px !important;
        overflow: hidden;
        border: 1px solid #ccc;

		& select {
			background: transparent;
			width: 180px;
			padding: 15px;
			font-size: 24px;
			font-family: 'Georgia';
			font-weight: bold;
			text-transform: uppercase;
			line-height: 1;
			border: 0;
			border-radius: 0;
			height: 53px;
            text-align: center;
			-webkit-appearance: none;
		}

		& li {
			list-style: none;
			display: block;
			position: relative;

			&:nth-of-type(odd) a {
				background-color: $col_1;
			}

			&:nth-of-type(even) a {
				background-color: $col_2;
			}

			& a {
				display: block;
				position: relative;
				float: left;

				display: block;
				position: relative;
				float: left;
				width: 44px;
				height: 44px;
				text-align: center;
				font-size: 15px;
				line-height: 44px;
				text-decoration: none;
				color: $col_text_dark;
			}

		}
	}

	& .playlist1 {
		position: absolute;
		left: 286px;
		border: 1px solid $col_1;
        overflow:visible;

        & select {
            color: $col_1;
        }

        &:after {
            display: block;
            content: "\ ";
            position: absolute;
            width: 0;
            height: 0;
            border-left: 20px solid $col_1;
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
            left: 183px;
            top: 7px;
        }
        &:before {
            display: block;
            content: "\ ";
            position: absolute;
            width: 3px;
            height: 40px;
            background-color: $col_1;
            top: 7px;
            left: 180px;
        }
	}

	& .playlist2 {
		position: absolute;
		left: 499px;
		margin-top: 25px;
        border: 1px solid $col_2;
        overflow:visible;

        & select {
            color: $col_2;
        }

        &:after {
            display: block;
            content: "\ ";
            position: absolute;
            width: 0;
            height: 0;
            border-right: 20px solid $col_2;
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
            left: -23px;
            top: 7px;
        }
        &:before {
            display: block;
            content: "\ ";
            position: absolute;
            width: 3px;
            height: 40px;
            background-color: $col_2;
            top: 7px;
            left: -3px;
        }
	}
}

#sonnet_display {
	display: block;
	clear: both;
	width: 100%;
}

@mixin last_two_rows_indent {
	& p:nth-of-type(14), & p:nth-of-type(15) {
		padding-left: 2em;
	}
}

#playlist1_preview, #playlist2_preview, #sonnet_mashup {
	display: block;
	vertical-align: top;
	width: 300px;
}

#playlist1_preview, #playlist2_preview {
    display: none;
}

#playlist1_preview {
	position: absolute;
	left: 0;
	background-color: transparentize($col_1, 0.8);
	font-size: 0.7em;
	text-align: left;

	@include last_two_rows_indent;
}

#playlist2_preview {
	position: absolute;
	right: 0;
	font-size: 0.7em;
	background-color: transparentize($col_2, 0.8);
	text-align: left;

	@include last_two_rows_indent;
}

#sonnet_mashup {
	position: relative;
	margin: 0 auto;
	margin-top: 0;
	width: 600px;
    font-family: 'Georgia';
	font-size: 19px;
	text-align: center;

//	@include last_two_rows_indent;
}

#sonnet_mashup_headline {
    display: none;
}

.a, .c, .e, .g { color: $col_1; }
.b, .d, .f { color: $col_2; }


.share_facebook, #random {
    position: relative;
    margin: 4em auto;
    border: 1px solid $col_4;
    width: 180px !important;
    height: 54px !important;
    display: block;
    line-height: 54px;
    text-align: center;
    font-size: 24px;
    font-family: 'Georgia';
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: $col_4 !important;
}

#random {
    border: 1px solid $col_3;
    color: $col_3 !important;
    text-transform:lowercase;
    font-weight: normal;
    font-style:italic;
    margin-top: -105px;
}

.or {
    text-align: center;
    color: $col_3 !important;
    text-transform:lowercase;
    font-weight: normal;
    font-style:italic;
    font-family: 'Georgia';
    font-size: 14px;
    display: block;
    margin-top:20px;
    clear: both;
}

footer {
    text-align:center;
    font-family: 'Georgia';

    & h1 {
        font-size: 29px;
        font-style: italic;
        color: $col_3;
        font-weight: normal;
    }

    & p {
        font-size: 19px;
        color: $col_1;
        display:block;
        width: 650px;
        margin: 2em auto;
        line-height:26px;
    }
}

a, a:active, a:visited, a:hover {
    color: $col_2;
    text-decoration:none;
}
